<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Document</title>
</head>
<body>
    <header class="side-menu">
        <a href="#" class="logo">
            <img src="img/logo.svg" alt="">
        </a>
        <div class="menu">
            <a href="#" class="item">
                <img src="img/home.svg" alt="">
            </a>
            <a href="#" class="item active">
                <img src="img/checkout.svg" alt="">
            </a>
            <a href="#" class="item">
                <img src="img/inventory.svg" alt="">
            </a>
        </div>
    </header>
    <main id="dashboard">
        <div class="dashboard" >
            <div class="top">
                <h3 class="dashboard-title">Sales Product</h3>
                <form class="search-form">
                    <button type="submit">
                        <img src="img/search.svg" alt="">
                    </button>
                    <input type="text" placeholder="Search Products, bar code ...">
                </form>
            </div>
            <div class="middle">
                <div class="tabs">
                    <span class="product-name">Product name</span>
                    <span class="original-price">Original Price</span>
                    <span class="product-quantity">Quantity</span>
                    <span class="sale-price">Sale price</span>
                </div>
                <div class="items" >
                    <div class="card"  v-for="product in products">
                         <div class="sale-price">
                            <span>{{ product.price.sale }}</span>
                        </div>
                        <div class="product-quantity">
                            <div class="amount">
                                <span>{{ product.quantity.amount }}</span>
                            </div>
                            <div class="status">
                                <span>{{ product.quantity.status }}</span>
                            </div>
                        </div>
                        <div class="original-price">
                            <div class="price-bordered">
                                <span>{{ product.price.original }}</span>
                            </div>
                        </div>
                        <div class="product-name">
                            <span class="barcode">{{ product.details.barcode }}</span>
                            <span class="item-title">{{ product.details.name }}</span>
                            <span class="item-model">{{ product.details.model }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="checkout">
            <div class="top">
                <h4 class="date">Friday, 08 July 2022</h4>
                <h2>Checkout</h2>
                <div class="items">
                    <div class="card" v-for="item in checkouts">
                        <div class="title">{{ item.details.name }}</div>
                        <div class="row">
                            <div class="price">{{ item.price.sale }}</div>
                            <div class="quantity-selector">
                                <button> - </button>
                                <div class="input-amount">
                                    <input type="text" value="1">
                                </div>
                                <button> + </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="checkout-total">
                <div class="row original">
                    <span>Original Total</span>
                    <span>18,000.00</span>
                </div>
                <div class="row gained">
                    <span>Gained Total</span>
                    <span>5,000.00</span>
                </div>
                <div class="row total-pay">
                    <span>Total to Pay</span>
                    <span>23,000.00</span>
                </div>
                </div>
                <button class="process-payment">
                    Pay Now
                </button>
            </div>
        </div>
    </main>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    products: [
                        {
                            details:{
                                barcode: '123456789',
                                name: 'Lighting to VGA',
                                model: 'product model'
                            }
                            ,
                            price: {
                                original: '80,000.00',
                                sale: '90,000.00'
                            },
                            quantity: {
                                amount: 2,
                                status: 'InStock'
                            },
                        },
                        {
                            details:{
                                barcode: '123456789',
                                name: 'Lighting to VGA',
                                model: 'product model'
                            }
                            ,
                            price: {
                                original: '80,000.00',
                                sale: '90,000.00'
                            },
                            quantity: {
                                amount: 2,
                                status: 'InStock'
                            },
                        },
                        
                    ],
                    checkouts: [
                        {
                            details:{
                                barcode: '123456789',
                                name: 'Lighting to VGA',
                                model: 'product model'
                            }
                            ,
                            price: {
                                original: '80,000.00',
                                sale: '90,000.00'
                            },
                            quantity: {
                                amount: 2,
                                status: 'InStock'
                            },
                        },
                    ]
                }
            }
        }).mount('#dashboard')


    </script>
    
</body>
</html>